:root {
  --project-list-color: #FCFCFC;
  --button-background-color: #6b647c;
  --project-list-background-color: #776F7A;
}



body {
    font-family: 'Lato' , sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.6;
}

* {
    box-sizing: border-box;
}

%a-shared {
    text-decoration: none;
}

.navigation-list_item--active {
    @extend %a-shared;
}

.navigation-list {
    list-style-type: none;
}

.navigation-list li a {
    display: inline-block;
    margin-left: 15px;
}

.page-header {
    display: flex;
    width: 100%;
    padding: 20px;
}

.page-header_item {
    flex: 0 1 200px;
}

.page-header_item:last-child {
    flex-grow: 1;
    text-align: right;
}

.profile_portrait {
    float: left;
    width: 250px;
    margin-right: 40px;
    border-radius: 65%;
}

.profile {
    max-width: 700px;
    margin: 0 auto;
}

.page-footer {
    clear: both;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.work-header {
  text-align: center;
  text-decoration-line: underline;
  text-decoration-thickness: 4px;
}

.project-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;
}

.project-list_item {
    background-color: var(--project-list-background-color);
    color: var(--project-list-color);
    padding: 20px;
}

.project-list_item--header {
  color: var(--project-list-color);
  text-shadow: 2px 2px 4px #000000;
}

.project-list_item a {
  color: var(--project-list-color);
}

.project-list_item:last-child {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}
   
   @supports (display: grid) {
    .project-list {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 40px;
      margin: 0;
   
    }
    .project-list_item {
      background-color: var(--project-list-background-color);
      color: var(--project-list-color);
      width: auto;
      min-height: auto;
      margin: 0;
    }

    .project-list_item--header {
      color: var(--project-list-color);
      text-shadow: 2px 2px 4px #000000;
    }

    .project-list_item a {
      color: var(--project-list-color);
    }
    .project-list_item:last-child {
      grid-column: 3 / 3;
      grid-row: 1 / 3;
    }
   }

   @media all and (max-width: 500px) {
    .project-list {
      grid-template-columns: 1fr;
      grid-gap: 10px;
    }
    .project-list_item:last-child {
      grid-column: auto / auto;
      grid-row: auto / auto;
    }
  }
  
  @media all and (min-width: 500px) and (max-width: 750px){
    .project-list {
      grid-template-columns: 1fr 1fr;
      grid-gap: 10px;
    }
    .project-list_item:last-child {
      grid-column: auto / auto;
      grid-row: auto / auto;
    }
  }

  @media all and (max-width: 750px) {
    .project-list {
      grid-gap: 10px;
    }
    .project-list_item:last-child {
      grid-column: auto / auto;
      grid-row: auto / auto;
    }
    h1 {
      font-size: 22px;
    }
  }

  /*
  .introduction {
    display: block;
    max-width: 400px;
    margin: 0 auto;
  }
  */

  .introduction {
    position: relative;
    margin-left: 40px;
  }

  .list {
    list-style-type: square;
  }

  .button {
    margin-top: 30px;
  }

  .button {
    @extend $a-shared;
    border: none;
    display: inline-block;
    font-family: inherit;
    background-color: var(--button-background-color);
    color: var(--project-list-color);
    padding: 5px;
    border-radius: 3px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    transition: 0,2s opacity;
}

.button:hover,
.button:focus {
    cursor: pointer;
    opacity: 0.8;
}
  
  .image-BerlinSkyline {
    display: inline-block;
    text-align: center;
    margin-left: 400px;
  }

  .image-BerlinSkyline:hover {
    transform: skew(9deg);
    animation-name: skew;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }

  @keyframes skew {
    0% {
      transform: skew(9deg);
    }
    100% {
      transform: skew(-9deg);
    }
  }

  .contact-details {
    display: block;
    max-width: 400px;
    margin: 0 auto;
    margin-bottom: 80px;
    text-align: center;
  }

  .contact-details_header {
    text-decoration-line: underline;
    text-decoration-thickness: 3px;
  }

  .contact-details_item {
    margin-top: 60px;
    font-weight: bold;
  }